/* Start variables */
:root {
    --main-color: #10cab7;
    --secondary-color: #2c4755;
    --main-duration: .5s;
    --paragraph-line-height: 1.8;
    --section-padding: 60px;
    --section-background-color: #f6f6f6;
    --paragraph-color: #777;
}

/* End variables */

/* Start global rules */
* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    position: relative;
    font-family: "Work Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul,
li {
    margin: 0;
    padding: 0;
}

.container {
    padding: 0 15px;
    margin: 0 auto;
}

/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.special-heading {
    font-size: 100px;
    font-weight: 800;
    color: #ebeced;
    text-align: center;
    letter-spacing: -3px;
}

@media (max-width: 767px) {
    .special-heading {
        font-size: 60px;
    }
}

.special-heading+p {
    font-size: 20px;
    text-align: center;
    margin: -30px 0 0;
    color: #797979;
}

@media (max-width: 767px) {
    .special-heading+p {
        margin-top: -20px;
    }
}

/* End global rules */


/* Start header section */
.header {
    padding: 20px;
    position: sticky;
    top: 0px;
    z-index: 1;
    background-color: white;
    box-shadow: 0px 1px 10px 0px var(--main-color);
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .container .logo {
    width: 60px;
}

.header .container .logo img {
    max-width: 100%;
}

.header .container .nav {
    position: relative;
}

.header .container .nav .icon {
    display: flex;
    width: 30px;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.header .container .nav .icon div {
    width: 100%;
    height: 2px;
    margin-bottom: 5px;
    background-color: #333;
}

.header .container .nav .icon div:nth-child(2) {
    width: 60%;
    transition: var(--main-duration);
}

.header .container .nav:hover .icon div:nth-child(2) {
    width: 100%;
}

.header .container .nav .links::before {
    content: "";
    position: absolute;
    top: -20px;
    right: 5px;
    border: 10px solid;
    border-color: transparent transparent #f6f6f6 transparent;
}

.header .container .nav .links {
    display: none;
    width: 200px;
    position: absolute;
    top: calc(100% + 15px);
    right: 0;
    z-index: 1;
    background-color: var(--section-background-color);
    list-style-type: none;
}

.header .container .nav:hover .links {
    display: block;
}

.header .container .nav .links li:not(:last-child) a {
    border-bottom: 1px solid #ddd;
}

.header .container .nav .links li a {
    display: block;
    padding: 15px;
    transition: var(--main-duration);
    text-decoration: none;
    color: #333;
}

.header .container .nav .links li:hover a {
    padding-left: 25px;
}

/* End header section */

/* Start landing section */
.landing {
    background-image: url('../images/landing.jpg');
    background-size: cover;
    height: calc(100vh - 68px);
    position: relative;
}

.landing .container .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    text-transform: capitalize;
    width: 320px;
}

.landing .container .text h1 {
    font-size: 50px;
    font-weight: bold;
    color: var(--main-color);
    margin: 0;
}

.landing .container .text p {
    font-size: 19px;
    line-height: var(--paragraph-line-height);
}

/* End landing section */

/* Start features section */
.features {
    padding: var(--section-padding) 0;
    background-color: var(--section-background-color);
}

.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.features .container .feature {
    padding: 20px;
    text-align: center;
}

.features .container .feature i {
    color: var(--main-color);
}

.features .container .feature .text {
    text-transform: capitalize;
}

.features .container .feature .text h3 {
    font-weight: 800;
    margin: 30px 0;
}

.features .container .feature .text p {
    line-height: var(--paragraph-line-height);
    color: var(--paragraph-color);
    font-size: 17px;
}

/* End features section */

/* Start services section */
.services {
    padding: var(--section-padding) 0;
}

.services .container .cols {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    margin-top: 100px;
}

.services .container .cols .col .service {
    display: flex;
    margin-bottom: 40px;
}

@media (max-width: 767px) {
    .services .container .cols .col .service {
        flex-direction: column;
        text-align: center;
    }
}

.services .container .cols .col .service i {
    color: var(--main-color);
    flex-basis: 60px;
}

@media (max-width: 767px) {
    .services .container .cols .col .service i {
        margin: 0 0 20px;
    }
}

.services .container .cols .col .service .text {
    flex: 1;
}

.services .container .cols .col .service h3 {
    margin: 0 0 20px;
}

.services .container .cols .col .service p {
    font-weight: 300;
    color: #444;
    line-height: var(--paragraph-line-height);
}

.services .container .cols .col .image::before {
    content: "";
    width: 100px;
    height: calc(100% + 100px);
    background-color: var(--secondary-color);
    position: absolute;
    top: -50px;
    right: 0;
    z-index: -1;
}

@media (max-width: 767px) {
    .services .container .cols .col .image::before {
        height: 50px;
        width: 95%;
        top: auto;
        bottom: -18px;
        left: 50%;
        transform: translateX(-50%);
    }
}

.services .container .cols .col .image {
    text-align: center;
    position: relative;
}

@media (min-width: 660px) and (max-width: 1199px) {
    .services .container .cols .col .image {
        display: none;
    }
}

.services .container .cols .col .image img {
    width: 260px;
}

/* End services section */

/* Start portfolio section */
.portfolio {
    padding: var(--section-padding) 0;
    background-color: var(--section-background-color);
}

.portfolio .container .portfolio-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    margin-top: 80px;
}

.portfolio .container .portfolio-content .box {
    background-color: white;
}

.portfolio .container .portfolio-content .box .image img {
    max-width: 100%;
}

.portfolio .container .portfolio-content .box .text {
    padding: 20px;
}

.portfolio .container .portfolio-content .box .text p {
    color: var(--paragraph-color);
    line-height: var(--paragraph-line-height);
    margin-bottom: 0;
}

/* End portfolio section */

/* Start about section */
.about {
    padding: var(--section-padding) 0;
}

.about .container .about-content {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 767px) {
    .about .container .about-content {
        text-align: center;
        flex-direction: column;
    }
}

.about .container .about-content .image::before {
    content: "";
    width: 100px;
    height: calc(100% + 80px);
    background-color: #ebeced;
    position: absolute;
    top: -40px;
    left: -20px;
    z-index: -1;
}

@media (max-width: 767px) {
    .about .container .about-content .image::before {
        width: 70px;
        height: 80%;
    }
}

.about .container .about-content .image {
    width: 250px;
    height: 375px;
    position: relative;
}

@media (max-width: 767px) {
    .about .container .about-content .image {
        width: 140px;
    }
}

.about .container .about-content .image::after {
    content: "";
    width: 120px;
    height: 300px;
    position: absolute;
    top: -40px;
    right: -150px;
    z-index: -1;
    border-left: 80px solid var(--main-color);
    border-bottom: 80px solid var(--main-color);
}


@media (max-width: 767px) {
    .about .container .about-content .image::after {
        width: 50px;
        height: 160px;
        right: -70px;
        border-left-width: 60px;
        border-bottom-width: 60px;
    }
}

.about .container .about-content .image img {
    max-width: 100%;
}

.about .container .about-content .text {
    flex-basis: calc(100% - 500px);
}

.about .container .about-content .text p {
    line-height: var(--paragraph-line-height);
}

.about .container .about-content .text p:first-of-type {
    font-weight: bold;
    margin-bottom: 50px;
}

.about .container .about-content .text hr {
    display: inline-block;
    width: 50%;
    border-color: var(--main-color);
}

.about .container .about-content .text p:last-of-type {
    color: var(--paragraph-color);
}

/* End about section */

/* Start contact section */
.contact {
    padding: var(--section-padding) 0;
    background-color: var(--section-background-color);
}

.contact .container .contact-info {
    padding: var(--section-padding) 0;
    text-align: center;
}

.contact .container .contact-info p {
    font-size: 35px;
    font-weight: 800;
    color: var(--secondary-color);
    letter-spacing: -2px;
    margin-bottom: 15px;
}

@media (max-width:767px) {
    .contact .container .contact-info p {
        font-size: 25px;
    }
}

.contact .container .contact-info a {
    display: block;
    font-size: 35px;
    font-weight: 800;
    color: var(--main-color);
    text-decoration: none;
}

@media (max-width: 767px) {
    .contact .container .contact-info a {
        font-size: 25px;
    }
}

.contact .container .contact-info .social {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 16px;
}

.contact .container .contact-info .social i {
    margin-left: 10px;
    color: var(--secondary-color);
}

/* End contact section */

/* Start footer section */
.footer {
    font-size: 18px;
    color: white;
    text-align: center;
    padding: calc(var(--section-padding) / 2) 0;
    background-color: var(--secondary-color);
}

.footer span {
    font-weight: bold;
    color: var(--main-color);
}

/* End footer section */

/* To top button */
.to-top {
    text-decoration: none;
    position: fixed;
    bottom: 50px;
    right: 25px;
    border: 15px solid var(--main-color);
    border-color: transparent transparent var(--main-color);
}

.to-top::after {
    content: "";
    position: absolute;
    bottom: 5px;
    left: 50%;
    width: 10px;
    height: 20px;
    transform: translate(-50%, 200%);
    background-color: var(--main-color);
}